<nav class="navigation-bar dp-1">
    <div class="container">
        <NavLink href="">
            <img class="brand-logo" src="logo_white.png">
        </NavLink>

        <ul class="navigation-items">
            <li><NavLink href="/devices"> Devices </NavLink></li>
            <li><NavLink href="/links">Links</NavLink></li>
            <li><NavLink href="/radio">Radio</NavLink></li>
            <li><NavLink href="/service-messages">Servicemessages</NavLink></li>
        </ul>
    </div>
</nav>

