
/* Color definitions */
.bg-dp-1 {

    background-color: rgba(255, 255, 255, 0.05);
}

.bg-surface {

    background-color: #121212;
}

.bg-primary {

    background-color: #BB86FC;
}

.bg-primary-variant {

    background-color: #3700B3;
}

.text-primary {
    color: #BB86FC !important;
}

.text-secondary {
    color: #03DAC6 !important;
}

.bg-secondary {
    background-color: #03DAC6;
}

.bg-error {
    background-color: #CF6679 !important;
}

/* Custom classes */
#brand-logo {
    max-width: 200px;
}

nav {
    height: 60px;
}

.site-content {
    min-height: calc(100VH - 60px);
}

.code {
    font-family: monospace;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.fade-in {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

.fade-in.hide {
    opacity: 0;
}

.reserve-loader-height {

    min-height: 4rem;
}

.loader {
    border: .5rem solid rgba(255,255,255, 0.05);
    border-top: .5rem solid #BB86FC;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Bootstrap overides */
.table th {

    border-top: none;
    border-bottom: none !important;
}

.table-dark td, .table-dark th {
    border-color: rgba(255, 255, 255, 0.05);
}

.card {

    background-color: rgba(255, 255, 255, 0.05);
    border: none;
}

.card-header {

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border:none;
    background-color: transparent;
}

.modal.show {
    display: block;
}

.modal-header,
.modal-footer {
    border: none;
}

.btn-link {
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
    color: #BB86FC;
    text-decoration: none;
}

a,
a:not([href]) {
    color: #BB86FC;
}

.btn-link:hover,
.btn-link:active,
a:hover,
a:active,
a:not([href]) {
    color: #9E55FC;
    text-decoration: none;
}

.form-control,
.form-control:focus {
    color: white;
    background-color: transparent;
}

.form-control:focus {
    border-color: #BB86FC;
    box-shadow: none;
}

option {
    background-color: #1e1e1e;
}

.btn-primary,
.btn-primary:active
.btn-primary:hover
.btn-primary:focus {

    background-color: #BB86FC !important;
    color: black !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-ripple {
    background-position: center;
    transition: background 0.8s;
}
  
.btn-ripple:active {
    background-color: #D7B7FD !important;
    background-size: 100%;
    transition: background 0s;
}
