
/* Material Color palette (Dark theme) */
.dark-gray {
    background-color: #121212;
}

.dp-1 {
    background-color: rgba(255,255,255,0.05);
}

.dp-2 {
    background-color: rgba(255,255,255,0.10);
}

.dp-3 {
    background-color: rgba(255,255,255,0.15);
}

/* Materialize overrides for dark theme */
tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.nav-wrapper {
    padding: 0 .75rem;
}

nav {
    background-color: rgba(255, 255, 255, 0.05);
}

nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.card .card-action {

    border-top: none;
}

.btn {

    background-color:  #6200EE;
}

.btn:hover {

    background-color:  #9c47ff;
}

/* Customs */

.small td,
.small th {

    padding: 5px 10px;
}

.brand-logo img {
    max-width: 200px !important;
}

.badge.solid {
    background-color: #6200EE;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
    border-radius: 2px;
}

/* .waves-primary {
    background-color: #6200EE;
} */