
/* Material Color palette (Dark theme) */
.dark-gray,
.modal {
    background-color: #121212;
}

.dp-1 {
    background-color: rgba(255,255,255,0.05);
}

.dp-2 {
    background-color: rgba(255,255,255,0.10);
}

.dp-3 {
    background-color: rgba(255,255,255,0.15);
}

/* Materialize overrides for dark theme */
tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.nav-wrapper {
    padding: 0 .75rem;
}

nav,
.modal .modal-content,
.modal .modal-footer,
table.highlight>tbody>tr:hover
nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

table.highlight>tbody>tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.card .card-action {

    border-top: none;
}

.modal.blazor {
    display: unset;
    top: 10%;
    z-index: 1000;
}

.btn {

    background-color:  #6200EE;
}

.btn:hover {

    background-color:  #9c47ff;
}

/* Customs */

.small td,
.small th {

    padding: 5px 10px;
}

.brand-logo img {
    max-width: 200px !important;
}

.badge.solid {
    background-color: #6200EE;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
    border-radius: 2px;
}

.selectable {

    cursor: pointer;
}

.btn.page-floating {

    position: fixed;
    z-index: 1001;
    right: 10px;
    bottom: 10px;;
}

.page-header 
{
    display: flex;
    margin-top: 15px;
}

.lead,
.breadcrumb,
.breadcrumb:before {

    font-size: 1.5rem;
}

.modal-backdrop {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
}