<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container text-center code">

                <h3>
                    404
                </h3>
                <p>
                    Page not found
                </p>
                <p>
                    This may not mean anything.<br /> 
                    I'm probably working on something that hasn't been finished or there's an error in the Matrix. 
                </p>
            </div>

        </LayoutView>
    </NotFound>
</Router>
