@page "/devices/{DeviceAddress}/channels"

@using HomematicCore.Manager.Web.ViewModels;

@inject ChannelsViewModel _dataContext

<div class="page-header">
    <NavLink href="/devices" class="breadcrumb"> Devices </NavLink>
    <span class="breadcrumb"> @DeviceAddress </span>
</div>

<div class="card-panel dp-1">
    <table class="small responsive-table">
        <thead>
            <tr>
                <th>Address</th>
                <th>Type</th>
                <th>Direction</th>
                <th>Parametersets</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var channel in _dataContext.AvailableChannels)
            {
                <tr>
                    <td>@channel.Address</td>
                    <td>@channel.Type</td>
                    <td>@channel.Direction</td>
                    <td>
                        @foreach (var set in channel.CommonParameterSetNames)
                        {
                            <span class="badge solid selectable" @onclick="_ => _dataContext.LoadParameterSet(channel, set)">@set</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    [Parameter]
    public string DeviceAddress { get; set; }

    protected override void OnInitialized()
    {
        _dataContext.ParentAddress = DeviceAddress;
    }
}
