@page "/"

<div class="container">

    <h4>Home</h4>
    <p>
        homematicCore is a simple management tool for homematic devices. 
        Devices can be teached in and out, device configurations and direct connections 
        can be managed and the service messages of the individual devices can be monitored.
    </p>
    <p>
        homematicCore is not dependent on a ReGa interface and communicates directly 
        with the individual daemons such as HmIP, HM Legacy or Wired components.
    </p>

    <h4>
        Connected Daemons
    </h4>
    <div class="row">

        <div class="col">
            <div class="card dp-1">
                HmIP<br />
                <a href="http://black-pearl">black-pearl</a><br />
                <i class="fas fa-check-circle green-text"></i> Online
            </div>
        </div>
    </div>

</div>
