@page "/service-messages"

@using HomematicCore.Manager.Web.ViewModels;
@using HomematicCore.Manager.Web.Components;


@inject ServiceMessagesViewModel _dataContext

<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <div class="card-header"> 
                <span class="lead"> Service Messages </span>
            </div>
            <ActivityOverlay IsBusy="_dataContext.IsBusy">
                <table class="table table-sm table-hover table-dark bg-transparent">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Service Message ID</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var message in _dataContext.ServiceMessages)
                        {
                            <tr>
                                <td>@message.SenderAddress</td>
                                <td>@message.ServiceMessageId</td>
                                <td>@message.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </ActivityOverlay>
        </div>
    </div>
</div>

@code
{

    protected override Task OnInitializedAsync() => _dataContext.InitializeAsync();

    private void UpdateUI(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}
