@using HomematicCore.Manager.Web.ViewModels;
@inject DaemonStatusViewModel _dataContext

<div class="container">
    <div class="card bg-dp-1">
        <div class="card-body">
            <div class="d-flex">
                <div class="d-flex flex-column">
                    <span>Daemon Status:</span>
                    @if (_dataContext.IsBusy)
                    {
                        <span><i class="fas fa-circle-notch fa-spin text-primary"></i> Connecting </span>
                    }
                    @if (!_dataContext.IsBusy && _dataContext.IsConnected)
                    {
                        <span><i class="fas fa-circle text-secondary"></i> Conntected </span>
                    }
                    @if (!_dataContext.IsBusy && !_dataContext.IsConnected)
                    {
                        <span><i class="fas fa-circle text-error"></i> Disconnected</span>
                    }
                    
                </div>
                <div class="ml-auto text-center">
                    <div class="lead text-primary">
                        @(_dataContext.DutyCycleInPercent.HasValue ? $"{_dataContext.DutyCycleInPercent}%" : "-")
                    </div>
                    <span>Duty Cyle</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code 
{
    protected override Task OnInitializedAsync() => _dataContext.InitializeAsync();
}